body {
    padding-top: 50px;
}

img {
    max-width: 100%;
}

.checkbox, .radio {
    margin-top: 0;
}

label {
    cursor: pointer;
}

label:not(:first-of-type) input[type=radio] {
    margin-left: 10px;
}